body{
    background-color: #EEEEEE;
}

.botao-criar{
    text-align: center;
}

.btn{
    background-color: #FF385C;
    border: 1px solid white;
    color: white;
}

.checkbox-groups{
    display: flex;
    gap: 80px;
}

.logo{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.logo>img{
    width: 18%;
}

.tamanho-input{
    resize: none;
    height: 200px;
}

.termosUso{
    text-decoration: none;
    color: #FF385C;
}

.suggestions{ 
    border: 1px solid #ccc; 
    max-height: 100px; 
    overflow-y: auto;
}

.suggestions div{
     padding: 5px; 
     cursor: pointer; 
}

.suggestions div:hover{
     background-color: #eee; 
}

.user-list{ 
    margin-top: 10px;
}