.card-title {
    text-transform: uppercase;
    text-align: center;
}

.text-bg-danger {
    background-color: #FF385C !important;
}

.pointer {
    cursor: pointer;
}

.separaCard {
    margin: 5px;
}

.larguraCard {
    width: 40rem;
}


.img-fluid rounded-start {
    width: 100%;
    /* A imagem vai ocupar 100% da largura do contêiner */
    max-width: 100px;
    /* Define um limite de largura (200px) para a imagem */
    height: auto;
    /* Mantém a proporção da imagem ao ajustar a largura */
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente, caso necessário */
    padding: 50px;

}

.card-text {
    font-size: 1rem !important;
}


p {
    font-style: italic;
    font-weight: bold;
}


.label1 {
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
}

div:focus {
    font-weight: bold;
}

.modal-title{
    text-transform: uppercase;
    text-align: center;
    color: #FF385C;
    
}

.tc{
    text-transform: uppercase;
    text-align: center;
    color: #FF385C; 
    font-size: 25px;
}
.badge text-bg-primary pointer{
    color: #FF385C
}
