.w-100 {
    width: 100% !important;
}


.imgCentralizado {
    display: flex;
    justify-content: center;
}

.al {
    display: flex;
    justify-content: center;
}

.carousel-caption{
    bottom: 0.1rem;
}