body{
    background-color: #EEEEEE;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.bg-titulos{
    background-color: #FF385C;
    color: #EEEEEE;
}
.carousel-caption{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}
.card-block-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.card-body{
    flex: 1 1 22%;
    box-sizing: border-box;
    word-wrap: break-word; /* Quebra palavras longas se necessário */
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card>img{
    max-width: 18rem;
    height: 18rem;  
}
.card-body>a{
    text-align: center; 
}
.btn{
    background-color: #FF385C;
    color: white;
}
.textoDetalhe{
    font-size: 13px;
}
p>.bordaPreco{
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
}
.carousel-inner .carousel-item img {
    width: 100%; /* A imagem ocupa toda a largura do container */
    height: 800px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Ajusta a imagem para preencher o container sem distorcer */
  }
  
