nav {
    background-color: blue;
    height: 40px;
    color: aliceblue;
    font-size: 20pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: blue;
    height: 40px;
    color: aliceblue;
    font-size: 20pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#resultado {
    font-size: 28pt;
    font-weight: bold;
}